In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import preprocessing

In [2]:
from sklearn.preprocessing import scale

In [3]:
from sklearn.preprocessing import OneHotEncoder

In [4]:
from sklearn.compose import ColumnTransformer

In [5]:
df=pd

In [6]:
Portmap = pd.read_csv('Desktop/models/IoT DoS attacks datasets/Portmap.csv')

C:\Users\User\AppData\Local\Temp\ipykernel_5096\643274746.py:1: DtypeWarning: Columns (85) have mixed types. Specify dtype option on import or set low_memory=False.
  Portmap = pd.read_csv('Desktop/models/IoT DoS attacks datasets/Portmap.csv')

In [7]:
Attackloge = pd.read_csv('Desktop/models/IoT DoS attacks datasets/Attackloge.csv')

In [8]:
Attacklogin = pd.read_csv('Desktop/models/IoT DoS attacks datasets/Attacklogin.csv')

In [9]:
Traffic = pd.read_csv('Desktop/models/IoT DoS attacks datasets/Traffic.csv')

In [306]:
Attackloge.head()

,IP,start,end,duration,activity,activityID,errorcode,description
0,192.168.220.16,2017-03-14 16:05:30.148959,2017-03-15 09:08:40.326217,17:03:10.537554,portScan,1,0,nmap args: -sS -T 1
1,192.168.220.16,2017-03-15 09:19:34.419360,2017-03-15 12:40:08.318166,3:20:34.898806,portScan,2,0,nmap args: -sS -T 1
2,192.168.220.16,2017-03-15 13:07:57.209295,2017-03-15 13:08:22.732685,0:00:25.523390,dos,3,0,---
3,192.168.220.16,2017-03-15 13:41:35.876926,2017-03-15 13:43:42.684341,0:02:06.807415,dos,4,0,---
4,192.168.220.16,2017-03-15 14:15:43.315230,2017-03-15 14:21:46.397800,0:06:03.082570,portScan,5,0,nmap args: -sS -T 3

In [307]:
Attacklogin.head()

,IP,start,end,activity,activityID,description
0,ATTACKER1,2017-03-23 09:46:00.000000,2017-03-23 09:48:00.000000,portScan,1,---
1,ATTACKER1,2017-03-23 10:14:00.000000,2017-03-23 10:30:00.000000,portScan,2,---
2,ATTACKER1,2017-03-23 11:33:00.000000,2017-03-23 12:00:00.000000,bruteForce,3,---
3,ATTACKER1,2017-03-23 12:43:00.000000,2017-03-23 12:48:00.000000,bruteForce,4,---
4,ATTACKER1,2017-03-23 13:36:00.000000,2017-03-23 13:42:00.000000,bruteForce,5,---

In [308]:
Traffic.head()

,Date first seen,Duration,Proto,Src IP Addr,Src Pt,Dst IP Addr,Dst Pt,Packets,Bytes,Flows,Flags,Tos,class,attackType,attackID,attackDescription
0,43:57.2,81412.697,TCP,EXT_SERVER,8082,OPENSTACK_NET,56978.0,3057,2.1 M,1,.AP...,0,normal,---,---,---
1,43:57.2,81412.697,TCP,OPENSTACK_NET,56978,EXT_SERVER,8082.0,4748,2.5 M,1,.AP...,0,normal,---,---,---
2,43:26.1,81504.787,TCP,EXT_SERVER,8082,OPENSTACK_NET,56979.0,8639,9.1 M,1,.AP...,0,normal,---,---,---
3,43:26.1,81504.787,TCP,OPENSTACK_NET,56979,EXT_SERVER,8082.0,12024,10.3 M,1,.AP...,0,normal,---,---,---
4,17:09.0,82100.692,TCP,EXT_SERVER,8082,OPENSTACK_NET,51649.0,11012,27.2 M,1,.AP.S.,0,normal,---,---,---

In [309]:
Portmap.head()

,Unnamed: 0,Flow ID,Source IP,Source Port,Destination IP,Destination Port,Protocol,Timestamp,Flow Duration,Total Fwd Packets,...,Active Std,Active Max,Active Min,Idle Mean,Idle Std,Idle Max,Idle Min,SimillarHTTP,Inbound,Label
0,24,192.168.50.254-224.0.0.5-0-0-0,192.168.50.254,0,224.0.0.5,0,0,2018-11-03 09:18:16.964447,114456999,45,...,28337.112288,98168.0,3.0,9529897.25,351582.631269,10001143.0,9048097.0,0,0,BENIGN
1,26,192.168.50.253-224.0.0.5-0-0-0,192.168.50.253,0,224.0.0.5,0,0,2018-11-03 09:18:18.506537,114347504,56,...,121314.911865,420255.0,4.0,9493929.75,351541.079539,9978130.0,8820294.0,0,0,BENIGN
2,176563,172.217.10.98-192.168.50.6-443-54799-6,192.168.50.6,54799,172.217.10.98,443,6,2018-11-03 09:18:18.610576,36435473,6,...,0.000000,62416.0,62416.0,36373056.00,0.000000,36373056.0,36373056.0,0,0,BENIGN
3,50762,172.217.7.2-192.168.50.6-443-54800-6,192.168.50.6,54800,172.217.7.2,443,6,2018-11-03 09:18:18.610579,36434705,6,...,0.000000,62413.0,62413.0,36372291.00,0.000000,36372291.0,36372291.0,0,0,BENIGN
4,87149,172.217.10.98-192.168.50.6-443-54801-6,192.168.50.6,54801,172.217.10.98,443,6,2018-11-03 09:18:18.610581,36434626,6,...,0.000000,62409.0,62409.0,36372216.00,0.000000,36372216.0,36372216.0,0,0,BENIGN

In [304]:
data = pd.concat([Portmap,Attackloge,Attacklogin,Traffic], ignore_index = True)

In [305]:
data.head(5)

,Unnamed: 0,Flow ID,Source IP,Source Port,Destination IP,Destination Port,Protocol,Timestamp,Flow Duration,Total Fwd Packets,...,Dst Pt,Packets,Bytes,Flows,Flags,Tos,class,attackType,attackID,attackDescription
0,24.0,192.168.50.254-224.0.0.5-0-0-0,192.168.50.254,0.0,224.0.0.5,0.0,0.0,2018-11-03 09:18:16.964447,114456999.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,26.0,192.168.50.253-224.0.0.5-0-0-0,192.168.50.253,0.0,224.0.0.5,0.0,0.0,2018-11-03 09:18:18.506537,114347504.0,56.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,176563.0,172.217.10.98-192.168.50.6-443-54799-6,192.168.50.6,54799.0,172.217.10.98,443.0,6.0,2018-11-03 09:18:18.610576,36435473.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,50762.0,172.217.7.2-192.168.50.6-443-54800-6,192.168.50.6,54800.0,172.217.7.2,443.0,6.0,2018-11-03 09:18:18.610579,36434705.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,87149.0,172.217.10.98-192.168.50.6-443-54801-6,192.168.50.6,54801.0,172.217.10.98,443.0,6.0,2018-11-03 09:18:18.610581,36434626.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
data.columns

Index(['Unnamed: 0', 'Flow ID', ' Source IP', ' Source Port',
       ' Destination IP', ' Destination Port', ' Protocol', ' Timestamp',
       ' Flow Duration', ' Total Fwd Packets',
       ...
       'Dst Pt', 'Packets', 'Bytes', 'Flows', 'Flags', 'Tos', 'class',
       'attackType', 'attackID', 'attackDescription'],
      dtype='object', length=112)

In [44]:
data.shape

(364624, 112)

In [45]:
data.describe()

,Unnamed: 0,Source Port,Destination Port,Protocol,Flow Duration,Total Fwd Packets,Total Backward Packets,Total Length of Fwd Packets,Total Length of Bwd Packets,Fwd Packet Length Max,...,Idle Max,Idle Min,Inbound,activityID,Duration,Src Pt,Dst Pt,Packets,Flows,Tos
count,191694.000000,191694.000000,191694.000000,191694.000000,1.916940e+05,191694.000000,191694.000000,191694.000000,1.916940e+05,191694.000000,...,1.916940e+05,1.916940e+05,191694.000000,92.000000,172838.000000,172838.000000,172838.000000,172838.000000,172838.0,172838.0
mean,95846.500000,2088.157068,32152.417843,16.799915,3.429798e+05,2.269868,0.381493,470.704451,4.068446e+02,228.300849,...,1.256591e+05,1.110960e+05,0.977146,29.760870,136.290559,22445.197526,22309.580341,13.809799,1.0,0.0
std,55337.435588,8566.647296,19319.329351,1.485127,5.957307e+06,46.812214,72.545552,684.066594,1.335419e+05,74.193653,...,2.502066e+06,2.326992e+06,0.149439,20.729747,5215.645494,23810.373191,23811.494655,232.725151,0.0,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000e+00,1.000000,0.000000,0.000000,0.000000e+00,0.000000,...,0.000000e+00,0.000000e+00,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.0,0.0
25%,47923.250000,648.000000,15376.500000,17.000000,1.000000e+00,2.000000,0.000000,458.000000,0.000000e+00,229.000000,...,0.000000e+00,0.000000e+00,1.000000,12.000000,0.057000,23.000000,23.000000,5.000000,1.0,0.0
50%,95846.500000,651.000000,32215.000000,17.000000,1.000000e+00,2.000000,0.000000,458.000000,0.000000e+00,229.000000,...,0.000000e+00,0.000000e+00,1.000000,24.500000,5.930000,8000.000000,8000.000000,7.000000,1.0,0.0
75%,143769.750000,846.000000,48947.000000,17.000000,1.000000e+00,2.000000,0.000000,458.000000,0.000000e+00,229.000000,...,0.000000e+00,0.000000e+00,1.000000,47.250000,16.848250,49144.750000,49001.500000,17.000000,1.0,0.0
max,191693.000000,65528.000000,65535.000000,17.000000,1.199474e+08,20444.000000,31700.000000,150726.000000,5.842950e+07,3583.000000,...,8.279180e+07,8.279180e+07,1.000000,70.000000,519611.231000,65535.000000,65535.000000,34136.000000,1.0,0.0

In [53]:
data = data.drop(['Unnamed: 0'], axis = 1)

In [292]:
data.head()

Empty DataFrame
Columns: [Flow ID,  Source IP,  Source Port,  Destination IP,  Destination Port,  Protocol,  Timestamp,  Flow Duration,  Total Fwd Packets,  Total Backward Packets, Total Length of Fwd Packets,  Total Length of Bwd Packets,  Fwd Packet Length Max,  Fwd Packet Length Min,  Fwd Packet Length Mean,  Fwd Packet Length Std, Bwd Packet Length Max,  Bwd Packet Length Min,  Bwd Packet Length Mean,  Bwd Packet Length Std, Flow Bytes/s,  Flow Packets/s,  Flow IAT Mean,  Flow IAT Std,  Flow IAT Max,  Flow IAT Min, Fwd IAT Total,  Fwd IAT Mean,  Fwd IAT Std,  Fwd IAT Max,  Fwd IAT Min, Bwd IAT Total,  Bwd IAT Mean,  Bwd IAT Std,  Bwd IAT Max,  Bwd IAT Min, Fwd PSH Flags,  Bwd PSH Flags,  Fwd URG Flags,  Bwd URG Flags,  Fwd Header Length,  Bwd Header Length, Fwd Packets/s,  Bwd Packets/s,  Min Packet Length,  Max Packet Length,  Packet Length Mean,  Packet Length Std,  Packet Length Variance, FIN Flag Count,  SYN Flag Count,  RST Flag Count,  PSH Flag Count,  ACK Flag Count,  URG Flag Count,  CWE Flag Count,  ECE Flag Count,  Down/Up Ratio,  Average Packet Size,  Avg Fwd Segment Size,  Avg Bwd Segment Size,  Fwd Header Length.1, Fwd Avg Bytes/Bulk,  Fwd Avg Packets/Bulk,  Fwd Avg Bulk Rate,  Bwd Avg Bytes/Bulk,  Bwd Avg Packets/Bulk, Bwd Avg Bulk Rate, Subflow Fwd Packets,  Subflow Fwd Bytes,  Subflow Bwd Packets,  Subflow Bwd Bytes, Init_Win_bytes_forward,  Init_Win_bytes_backward,  act_data_pkt_fwd,  min_seg_size_forward, Active Mean,  Active Std,  Active Max,  Active Min, Idle Mean,  Idle Std,  Idle Max,  Idle Min, SimillarHTTP,  Inbound,  Label, IP, start, end, duration, activity, activityID, errorcode, description, Date first seen, Duration, Proto, Src IP Addr, Src Pt, ...]
Index: []

[0 rows x 111 columns]

In [65]:
#Detect null values
data_real = data.replace(np.inf, np.nan)

In [10]:
data_real.head()

NameError: name 'data_real' is not defined

In [66]:
data_real.isnull().sum().sum()

0.0

In [67]:
data_ = data_real.dropna(axis=0)

In [68]:
data_.isnull().sum().sum()

0.0

In [285]:
data[' Label'].value_counts()

Series([], Name:  Label, dtype: int64)

In [270]:
import seaborn as sns

In [271]:
#get correlations of each features in dataset

In [272]:
corrmat = data.corr()

C:\Users\User\AppData\Local\Temp\ipykernel_7740\1838127317.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  corrmat = data.corr()

In [273]:
top_corr_features = corrmat.index

In [290]:
data

Empty DataFrame
Columns: [Flow ID,  Source IP,  Source Port,  Destination IP,  Destination Port,  Protocol,  Timestamp,  Flow Duration,  Total Fwd Packets,  Total Backward Packets, Total Length of Fwd Packets,  Total Length of Bwd Packets,  Fwd Packet Length Max,  Fwd Packet Length Min,  Fwd Packet Length Mean,  Fwd Packet Length Std, Bwd Packet Length Max,  Bwd Packet Length Min,  Bwd Packet Length Mean,  Bwd Packet Length Std, Flow Bytes/s,  Flow Packets/s,  Flow IAT Mean,  Flow IAT Std,  Flow IAT Max,  Flow IAT Min, Fwd IAT Total,  Fwd IAT Mean,  Fwd IAT Std,  Fwd IAT Max,  Fwd IAT Min, Bwd IAT Total,  Bwd IAT Mean,  Bwd IAT Std,  Bwd IAT Max,  Bwd IAT Min, Fwd PSH Flags,  Bwd PSH Flags,  Fwd URG Flags,  Bwd URG Flags,  Fwd Header Length,  Bwd Header Length, Fwd Packets/s,  Bwd Packets/s,  Min Packet Length,  Max Packet Length,  Packet Length Mean,  Packet Length Std,  Packet Length Variance, FIN Flag Count,  SYN Flag Count,  RST Flag Count,  PSH Flag Count,  ACK Flag Count,  URG Flag Count,  CWE Flag Count,  ECE Flag Count,  Down/Up Ratio,  Average Packet Size,  Avg Fwd Segment Size,  Avg Bwd Segment Size,  Fwd Header Length.1, Fwd Avg Bytes/Bulk,  Fwd Avg Packets/Bulk,  Fwd Avg Bulk Rate,  Bwd Avg Bytes/Bulk,  Bwd Avg Packets/Bulk, Bwd Avg Bulk Rate, Subflow Fwd Packets,  Subflow Fwd Bytes,  Subflow Bwd Packets,  Subflow Bwd Bytes, Init_Win_bytes_forward,  Init_Win_bytes_backward,  act_data_pkt_fwd,  min_seg_size_forward, Active Mean,  Active Std,  Active Max,  Active Min, Idle Mean,  Idle Std,  Idle Max,  Idle Min, SimillarHTTP,  Inbound,  Label, IP, start, end, duration, activity, activityID, errorcode, description, Date first seen, Duration, Proto, Src IP Addr, Src Pt, ...]
Index: []

[0 rows x 111 columns]

In [274]:
plt.figure(figsize=(20,20))

In [287]:
sns.heatmap(top_corr_features.corr());

AttributeError: 'Index' object has no attribute 'corr'

In [275]:
#plot heat map

In [280]:
plt.figure(figsize=(16, 6))
heatmap = sns.heatmap(dataframe.corr(), vmin=-1, vmax=1, annot=True, cmap='BrBG')
heatmap.set_title('Correlation Heatmap', fontdict={'fontsize':18}, pad=12);
# save heatmap as .png file
# dpi - sets the resolution of the saved image in dots/inches
# bbox_inches - when set to 'tight' - does not allow the labels to be croppedplt.savefig('heatmap.png', dpi=300, bbox_inches='tight')

NameError: name 'dataframe' is not defined

In [279]:
g=sns.heatmap(data[top_corr_features].corr(),annot=True,cmap="BrGB")

KeyError: "'BrGB' is not a known colormap name"

In [237]:
from sklearn.model_selection import train_test_split

In [246]:
from sklearn.linear_model import LogisticRegression

In [250]:
from sklearn.feature_extraction.text import CountVectorizer

In [264]:
x = data.iloc[:, [3, 4]].values

In [265]:
y = data.iloc[:, 3].values